<form action="/cadastrarUsuario" method="POST">
    <p>Nome Completo: </p>
    <input type="text" name="nome">
    <p>Usuário: </p>
    <input type="text" name="username">
    <p>Senha: </p>
    <input type="password" name="senha">
    <br>
    <br>
    <button type="submit">Cadastrar</button>
</form>